.DS_Store
.eclipse.buildship.core.prefs
.gradle/
.idea/
.project
.terraform.lock.hcl
.terraform/*
.venv/
.vs/
.vscode/
*.iml
*.ipr
*.iws
*.pyc
*.swp
*.tfstate*
*.tfvars
*~
bin/
build/
Dockerfile.pip
node_modules/
obj/
pkg/
vendor/
*.pem
.terraform
